<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 唯一的,不能为空-->
<!--此查询方法查询用户评论并实现分页-->
<mapper namespace="com.newer.lvyou.mapper.HouTaipingjiaMapper">
    <select id="findAllpingjiaFenYe" resultType="pingjia">
        select * from pingjia
        <where>
            1=1
            <if test="guoname!=null and guoname!=''">
                and guoname like concat('%',concat(#{guoname},'%'))
            </if>
            limit #{pageNo},#{pageSize}
        </where>
    </select>

    <select id="pingjiaCount" resultType="int">
        SELECT COUNT(*) FROM pingjia
        <where>
            1=1
            <if test="guoname!=null and guoname!=''">
                and guoname like concat('%',concat(#{guoname},'%'))
            </if>
        </where>
    </select>
</mapper>