<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 唯一的,不能为空-->
<!--此查询方法查询用户评论并实现分页-->
<mapper namespace="com.newer.lvyou.mapper.HouTaijiudianMapper">
    <select id="findAlljiudianFenYe" resultType="jiudian">
        select * from jiudian
        /*SELECT id,guoname,jdname,info,tupian,jiage,shenhe FROM (SELECT d.id,e.guoname,d.jdname,d.info,d.tupian,d.shenhe,d.jiage  FROM guojialist e,jiudian d  WHERE e.id=d.id) a*/
        <where>
            1=1
            <!--使用模糊查询数据-->
            <if test="jdname!=null and jdname!=''">
                and jdname like concat('%',concat(#{jdname},'%'))
            </if>
            <!--&lt;!&ndash;使用模糊查询数据&ndash;&gt;
            <if test="guoname!=null and guoname!=''">
                and guoname like concat('%',concat(#{guoname},'%'))
            </if>-->
            limit #{pageNo},#{pageSize}
        </where>
    </select>

    <select id="jiudianCount" resultType="int">
        SELECT COUNT(*) FROM jiudian
        /*SELECT COUNT(*) FROM(SELECT d.id,e.guoname,d.jdname,d.info,d.tupian,d.shenhe,d.jiage  FROM guojialist e,jiudian d  WHERE e.id=d.id) a*/
        <where>
            1=1
            <if test="jdname!=null and jdname!=''">
                and jdname like concat('%',concat(#{jdname},'%'))
            </if>
            <!--<if test="guoname!=null and guoname!=''">
                and guoname like concat('%',concat(#{guoname},'%'))
            </if>-->
        </where>
    </select>

</mapper>