<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 唯一的,不能为空-->
<!--此查询方法查询用户评论并实现分页-->
<mapper namespace="com.newer.lvyou.mapper.HouTaiUserMapper">
    <select id="findAllUserFenYe" resultType="user">
        select * from user
        <where>
            1=1
            <if test="username!=null and username!=''">
                and username like concat('%',concat(#{username},'%'))
            </if>
            limit #{pageNo},#{pageSize}
        </where>
    </select>

    <select id="userCount" resultType="int">
        SELECT COUNT(*) FROM user
        <where>
            1=1
            <if test="username!=null and username!=''">
                and username like concat('%',concat(#{username},'%'))
            </if>
        </where>
    </select>
</mapper>