<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.lvyou.mapper.HoutaiMapper">
    <select id="queryGJList" resultType="guojialist">
        select * from guojialist
        <where>
            1=1
            <if test="guoname!=null and guoname!=''">
                and guoname like concat('%',concat(#{guoname},'%'))
            </if>
            limit #{pageNo},#{pageSize}
        </where>
    </select>

    <select id="selectGJZS" resultType="int">
        SELECT COUNT(*) FROM guojialist
        <where>
            1=1
            <if test="guoname!=null and guoname!=''">
                and guoname like concat('%',concat(#{guoname},'%'))
            </if>
        </where>
    </select>

    <select id="selectSHL" resultType="shenhelist">
        select * from shenhelist
        <where>
            1=1
            <if test="name!=null and name!=''">
                and xiugaibiao like concat('%',concat(#{name},'%'))
                 or  and xiugaiadmin like concat('%',concat(#{name},'%'))
            </if>
            <if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
                and xiadantime between #{beginDate} and #{endDate}
            </if>
            limit #{pageNo},#{pageSize}
        </where>
    </select>

    <select id="countSHL" resultType="int">
        SELECT COUNT(*) FROM shenhelist
        <where>
            1=1
            <if test="name!=null and name!=''">
                and xiugaibiao like concat('%',concat(#{name},'%'))
                or  and xiugaiadmin like concat('%',concat(#{name},'%'))
            </if>
            <if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
                and xiadantime between #{beginDate} and #{endDate}
            </if>
        </where>
    </select>
</mapper>