<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 唯一的,不能为空-->
<!--此查询方法查询用户评论并实现分页-->
<mapper namespace="com.newer.lvyou.mapper.HouTaidingdanMapper">
    <select id="findAlldingdanFenYe" resultType="dingdan">
        select * from dingdan
        <where>
            1=1
            <!--使用模糊查询用户数据-->
            <if test="uname!=null and uname!=''">
                and uname like concat('%',concat(#{uname},'%'))
            </if>
            <!--使用模糊查询用户数据-->
            <if test="state!=null and state!=''">
                and state like concat('%',concat(#{state},'%'))
            </if>
            <!--使用模糊查询日期数据-->
            <if test="beginDate!=null and beginDate!='' and endDate!=null and endDate!=''">
                and xiadantime between #{beginDate} and #{endDate}
            </if>
            limit #{pageNo},#{pageSize}
        </where>
    </select>

    <select id="dingdanCount" resultType="int">
        SELECT COUNT(*) FROM dingdan
        <where>
            1=1
            <if test="uname!=null and uname!=''">
                and uname like concat('%',concat(#{uname},'%'))
            </if>
        </where>
    </select>

</mapper>