<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 唯一的,不能为空-->
<!--此查询方法查询用户评论并实现分页-->
<mapper namespace="com.newer.lvyou.mapper.HouTaiAdminMapper">
    <select id="findAllAdminFenYe" resultType="admin">
        select * from admin
        <where>
            1=1
            <if test="name!=null and name!=''">
                and name like concat('%',concat(#{name},'%'))
            </if>
            limit #{pageNo},#{pageSize}
        </where>
    </select>

    <select id="adminCount" resultType="int">
        SELECT COUNT(*) FROM admin
        <where>
            1=1
            <if test="name!=null and name!=''">
                and name like concat('%',concat(#{name},'%'))
            </if>
        </where>
    </select>
</mapper>